$customBlack: #111;
$customWhite: #eee;
$darkBlue: rgb(0, 51, 117);
$midBlue: rgb(1, 80, 126);
$lightBlue: rgb(0, 123, 185);
$darkGreen: rgb(0, 67, 11);
$midGreen: rgb(12, 108, 41);
$lightGreen: rgb(43, 140, 41);
$darkGrey: rgb(57, 57, 57);
$darkGreySemiTransparent: rgba(57, 57, 57, 0.5);
$midGrey: rgb(130, 130, 130);
$lightGrey: rgb(200, 200, 200);
$lightGreySemiTransparent: rgba(200, 200, 200, 0.5);
$darkBeige: #97866c;
$midBeige: #c5af8e;
$lightBeige: #dfcfb7;
$beigeHover: #fcc067;
